body {
    display: flex;
    flex-direction: column;
    margin:0px;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 18px 150px;
    justify-content: space-between;
}

.header-text {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.main {
    display: flex;
    background-color: #1F2937;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 120px;
    padding-top: 80px;
    justify-content: space-between;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    width: 300px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

.links {
    font-family: sans-serif;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
    padding-bottom: 15px;
    font-family: "Raleway", sans-serif;
}

button.first {
    background-color: #3882F6;
    padding: 5px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
}

img.main-image {
    width: 450px;
    height: 230px;
}

.secondary {
    padding-bottom: 100px;
}

 h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    font-family: "Open Sans",sans-serif;
 }

 .secondary-heading {
    display: flex;
    justify-content: center;
 }

 img.mountain,img.winter,img.desert,img.jungle {
    width: 150px;
    height: 150px;
 }

 div.images {
    display: flex;
    justify-content: center;
    gap: 40px;
 }

 .mountain,.winter,.desert,.jungle {
    width: 150px;
    height: auto;
 }


 .img-subtext{
    text-align: center;
    font-size: 16px;
    font-family: "Raleway",sans-serif;
 }

.tertiary {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 90px;
    align-items: center;
}

.quote {
    width: 700px;
}

.person {
    text-align: right;
    font-weight: bolder;
    font-size: 25px;
    font-family: "Dosis",sans-serif;
}

.words {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    font-family: "Titillium Web",sans-serif;
}
